*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  
  font-family:'Roboto', monoespaço;

  align-items: center;

  background-color: #A020F0;
}

a.Home{
  padding: 1px 10px;

  border-radius: 15px;

  font-family: 'Roboto mono', monospace;
  font-weight: bold;
  
  text-decoration: none;
  color: #fff;
  border: solid 2px #fff;
  transition: all linear .2s;
} main a.Home:hover{
  color: #000;
  background-color: #fff;
}

main{

  width: 600px; 
  
  margin: 58px auto;
  padding: 15px  25px;
  
  border-radius: 15px;

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.192);

  color: #fff;
  background-color: #29292e;
}

article{
  display: block;

  width: 100%;
  height: 100%;
}

h1{
  color: #ffa500;
}