*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;

  width: 100vw;
  height: 100vh;
  
  font-family:'Roboto', monoespaço;

  align-items: center;

  background-color: #A020F0;
}

a.Home{
  padding: 1px 10px;

  border-radius: 15px;

  font-family: 'Roboto mono', monospace;
  font-weight: bold;
  
  text-decoration: none;
  color: #fff;
  border: solid 2px #fff;
  transition: all linear .2s;
} main a.Home:hover{
  color: #000;
  background-color: #fff;
}

main{

  width: 400px; 
  
  margin: 0 auto;
  padding: 15px  25px;
  
  border-radius: 15px;

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.192);

  color: #fff;
  background-color: #29292e;
}

h1{
  margin: 15px;
  color: #ffa500;
}

ol{
  margin: 5px 15px;
  padding: 15px;

  list-style-position: inside;
}

input{
  margin-bottom: 10px;
}